---
import Layout from "../layouts/Layout.astro";
import {
  RivePlayerOne,
  RivePlayerTwo,
  RivePlayerThree,
} from "../components/rive/RivePlayer.jsx";

const ANIMATIONS = "/assets/animations/loaders.riv";
const ARTBOARDS = ["loader", "atom", "genuine", "motolino"];
const STATEMACHINES = [{ artboard: "burger", state: "state" }];
const MONA = [{ artboard: "mona", state: "state" }];
---

<Layout title="Skeleton">
  <div
    class="w-full flex flex-col md:flex-row justify-center md:justify-evenly gap-y-20 flex-wrap px-5 py-20"
  >
    {
      ARTBOARDS.map((e) => (
        <RivePlayerOne animation={ANIMATIONS} artboard={e} client:visible />
      ))
    }
    {
      STATEMACHINES.map((e) => (
        <div class="w-[200px] h-[200px]">
          <RivePlayerTwo
            animation={ANIMATIONS}
            artboard={e.artboard}
            stateMachine={e.state}
            client:visible
          />
        </div>
      ))
    }
    {
      MONA.map((e) => (
        <RivePlayerThree
          animation={ANIMATIONS}
          artboard={e.artboard}
          stateMachine={e.state}
          client:visible
        />
      ))
    }
  </div>
</Layout>
